<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
    <script src="/js/profile.js"></script>
    <script src="/js/upload.js"></script>
  </head>
  <body>
    <!-- Alert -->
    <% if (profileMsg.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= profileMsg %>
      </div>
    <% } %>
    <!-- Navigation -->
    <%- include('navbar-user') %>
    <!-- Main -->
    <div id="data-set" data-user-id="<%= user.id %>" data-store-id="<%= user.user_storeId %>"></div>
    <div class="container-fluid">
      <div class="row card-columns store-bg-color div-full-min-height">
        <div class="store-card-width mx-auto">
          <!-- 프로필 카드 -->
          <div class="card store-card-top">
            <div class="card-body mx-5">
              <form method="POST" id="profile" enctype="multipart/form-data" action="/upload/profile">
                <h1 class="card-title text-center">프로필</h1>
                <hr/>
                <div class="store-register-area mt-4">
                  <div class="text-center">
                    <img src="<%= user.user_img %>" class="profile-user-img mb-4">
                  </div>
                  <div class="store-register-container mb-4 mr-4">
                    <div class="store-register-key text-center my-auto">
                      <strong>이메일</strong>
                    </div>
                    <div class="store-register-value">
                      <span><%= user.user_email %></span>
                    </div>
                  </div>
                  <div class="store-register-container mb-4 mr-4">
                    <div class="store-register-key text-center my-auto">
                      <strong>비밀번호</strong>
                    </div>
                    <div class="store-register-value">
                      <input type="password" class="form-control" name="user_password" id="profile-inputPassword" placeholder="비밀번호 변경 시에만 입력해주세요.">
                    </div>
                  </div>
                  <div class="store-register-container mb-4 mr-4">
                    <div class="store-register-key text-center my-auto">
                      <strong>비밀번호 확인</strong>
                    </div>
                    <div class="store-register-value">
                      <input type="password" class="form-control" id="profile-inputConfirmPassword" placeholder="비밀번호 변경 시에만 입력해주세요.">
                    </div>
                  </div>
                  <div class="store-register-container mb-4 mr-4">
                    <div class="store-register-key text-center my-auto">
                      <strong>프로필 사진</strong>
                    </div>
                    <div class="input-group store-register-value">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/*">
                        <label class="custom-file-label" for="avatar">프로필 사진 변경 시에만 선택해주세요.</label>
                      </div>
                    </div>
                  </div>
                  <div class="store-register-container mb-4 mr-4">
                    <div class="store-register-key text-center my-auto">
                      <strong>가게이름</strong>
                    </div>
                    <div id="store-name" class="store-register-value"></div>
                  </div>
                  <div class="store-register-container mb-4 mr-4">
                    <div class="store-register-key text-center my-auto">
                      <strong>회원 탈퇴</strong>
                    </div>
                    <div class="store-register-value">
                      <button type="button" class="btn btn-outline-danger btn-block" id="user-delete-btn">탈퇴하기</button>
                    </div>
                  </div>
                  <div class="profile-blank"></div>
                </div>
              </form>
              <button type="button" class="btn btn-danger float-left mb-4 ml-4" id="main-back-btn">돌아가기</button>
              <button type="button" class="btn btn-primary float-right mb-4 mr-4" id="profile-edit-btn">수정하기</button>
            </div>
          </div>
          <!-- 프로필 카드 -->
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer') %>
  </body>
</html>