<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
    <script src="/js/store.js"></script>
  </head>
  <body>
    <!-- Alert -->
    <% if (storeMsg.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= storeMsg %>
      </div>
    <% } %>
    <!-- Navigation -->
    <%- include('navbar-user') %>
    <!-- Main -->
    <div id="data-set" data-user-id="<%= user.id %>" data-store-id="<%= store.id %>"></div>
    <div class="container-fluid">
      <div class="row card-columns store-bg-color">
        <div class="store-card-width mx-auto">
          <!-- 가게 이름 카드 -->
          <div class="card store-card-top">
            <div class="card-body">
              <h5 class="text-center"><%= storeCategoryName.store_category_name %></h5>
              <h1 class="card-title my-1 text-center"><%= store.store_name %></h1>
            </div>
          </div>
          <!-- 가게 이름 카드 -->
          <!-- 가게 상세 설명 카드 -->
          <div class="card">
            <div class="card-body store-card-detail mx-5">
              <h3>상세정보</h3>
              <hr/>
              <!-- 주소 -->
              <div class="placeinfo_default">
                <h4 class="tit-detail pt-2">
                  <span class="icon-common">
                    <i class="material-icons">location_on</i>
                  </span>
                </h4>
                <div class="location-detail ml-3">
                  <span class="txt-common"><strong>주소</strong></span>
                  <span><%= store.store_address %></span>
                </div>
              </div>
              <!-- 영업시간 -->
              <div class="placeinfo_default">
                <h4 class="tit-detail pt-2">
                  <span class="icon-common">
                    <i class="material-icons">access_time</i>
                  </span>
                </h4>
                <div class="location-detail ml-3">
                  <span class="txt-common"><strong>영업시간</strong></span>
                  <span><%= store.store_start_time %> ~ <%= store.store_end_time %></span>
                </div>
              </div>
              <!-- 메뉴 테이블 -->
              <table class="table mt-3 text-center">
                <thead>
                  <tr>
                    <th>메뉴</th>
                    <th>가격</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= store.store_menu_1 %></td>
                    <td><%= store.store_price_1 %></td>
                  </tr>
                  <tr>
                    <td><%= store.store_menu_2 %></td>
                    <td><%= store.store_price_2 %></td>
                  </tr>
                </tbody>
              </table>
              <!-- 업데이트 -->
              <div class="placeinfo_default">
                <h4 class="tit-detail pt-2">
                  <span class="icon-common">
                    <i class="material-icons">update</i>
                  </span>
                </h4>
                <div class="location-detail ml-3">
                  <span class="txt-common"><strong>업데이트</strong></span>
                  <%
                    var updateTime = new Date(store.updatedAt)
                  %>
                  <span><%= updateTime %></span>
                </div>
              </div>
            </div>
          </div>
          <!-- 가게 상세 설명 카드 -->
          <!-- 가게 사진 카드 -->
          <div class="card">
            <div class="card-body store-card-detail mx-5">
                <div class="container">

                  <h3>가게 사진</h3>
                
                  <hr class="mb-4">
                
                  <%
                    var img_1 = store.store_img_1
                    var img_2 = store.store_img_2
                    var img_3 = store.store_img_3
                  %>
                  <% if (img_1 == null && img_2 == null && img_3 == null) { %>
                  <div class="text-center">
                    등록된 사진이 없습니다.
                  </div>
                  <% } else { %>
                  <div class="row text-center text-lg-left">
                    <% if (img_1) { %>
                    <div class="col-lg-3 col-md-4 col-6">
                      <a href="<%= img_1 %>" class="d-block mb-4 h-100" target="_blank">
                        <img class="img-fluid img-thumbnail" src="<%= img_1 %>" alt="">
                      </a>
                    </div>
                    <% } %>
                    <% if (img_2) { %>
                    <div class="col-lg-3 col-md-4 col-6">
                      <a href="<%= img_2 %>" class="d-block mb-4 h-100" target="_blank">
                        <img class="img-fluid img-thumbnail" src="<%= img_2 %>" alt="">
                      </a>
                    </div>
                    <% } %>
                    <% if (img_3) { %>
                    <div class="col-lg-3 col-md-4 col-6">
                      <a href="<%= img_3 %>" class="d-block mb-4 h-100" target="_blank">
                        <img class="img-fluid img-thumbnail" src="<%= img_3 %>" alt="">
                      </a>
                    </div>
                    <% } %>
                  </div>
                  <% } %>
                </div>
            </div>
          </div>
          <!-- 가게 사진 카드 -->
          <!-- 가게 댓글 카드 -->
          <div class="card">
            <div class="card-body store-card-detail mx-5">
              <div class="store-comment-container">
                <h4 id="count-comments"></h4>
                <hr/>
                <div class="store-comment-write-area">
                  <img src="<%= user.user_img %>" class="store-comment-user-img">
                  <div class="input-group mb-3 store-comment-write-box">
                    <input type="text" class="form-control" id="store-comment" placeholder="댓글을 입력하세요...">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary" id="add-comment">등록</button> 
                    </div>
                  </div>
                </div>
                <hr class="mt-0">
                <div class="store-comment-area"></div>
              </div>
            </div>
          </div>
          <!-- 가게 댓글 카드 -->
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer-not-fixed-bottom') %>
  </body>
</html>